@import "./index.css";

#root {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.page-container {
    width: 100%;
}

.section-padding {
    padding: 5rem 1rem;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
}

.bg-light {
    background-color: var(--bg-secondary-color);
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    letter-spacing: -0.5px;
}

.section-description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem;
    line-height: 1.8;
    color: var(--text-secondary-color);
}